<footer>
    copyright @MoOmair1999
</footer>
<script src="https://kit.fontawesome.com/a8dabc6ab8.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(".message a").click(function () {
        $("form").animate({ height: "toggle", opacity: "toggle" }, "slow");
    });
    </script>
</body>
</html>